body{
    background-color: antiquewhite;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: auto;
    margin: 15px;
    padding: auto;
    line-height: 1.6;
    text-align: strat;
}
